body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	background-color: #f2f2f2;
	text-transform: uppercase;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-navigation,
.common-advantages,
.town-advantages,
.footer-social ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.container {
	width: 1200px;
	box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.35);
	margin: 0 auto;
	background-color: #ffffff;
}

.header-logo {
	position: absolute;
	left: 0;
	right: 0;
	width: 130px;
	margin: 0 auto;
}

.main-navigation {
	display: flex;
}

.main-navigation li {
	box-sizing: border-box;
	width: 239px;
	height: 56px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.main-navigation li:nth-child(2) {
	margin-right: auto;
}

.main-navigation li:nth-child(3) {
	margin-left: auto;
}

.main-navigation li:first-child,
.main-navigation li:nth-child(2) {
	text-align: left;
	padding-left: 72px;
}

.main-navigation li:last-child,
.main-navigation li:nth-child(3) {
	text-align: right;
	padding-right: 73px;
}

.main-navigation a {
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-decoration: none;
}

.main-navigation a:hover:not(.cite-navigation-current),
.main-navigation a:focus:not(.cite-navigation-current) {
	color: #81b3d2;
	transition: color 0.3s;
}

.main-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.intro {
	padding-top: 76px;
	box-sizing: border-box;
	width: 100%;
	height: 509px;
	background-color: #1a2d35;
	background-image: url("../img/sedona.jpg");
	background-repeat: no-repeat;
	background-position: 0 -56px;
	margin-bottom: 65px;
}

.intro img {
	display: block;
	width: 458px;
	height: 352px;
	margin: 0 auto;
}

.advantages b {
	display: block;
	width: 600px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.advantages > p {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 55px;
}

.common-advantages li {
	background-color: #eeeeee;
}

.common-advantages .detailed {
	background-color: #81b3d2;
}

.town-advantages {
	background-color: #ffffff;
}

.common-advantages h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.common-advantages span {
	display: block;
}

.description h3,
.description span,
.description p {
	color: #ffffff;
	text-align: center;
}

.detailed {
	display: flex;
	flex-wrap: wrap;
}

.detailed .description {
	width: 33.333333%;
	box-sizing: border-box;
	padding: 50px 50px 40px 50px;
}

.detailed:nth-child(2) .description {
	padding: 48px;
}

.detailed:nth-child(2) {
	flex-direction: row-reverse;
}

.ddetailed img {
	width: 66.666666%;
}

.town-advantages {
	display: flex;
}

.town-advantages li {
	width: 33.3%;
	min-height: 330px;
	box-sizing: border-box;
	padding: 160px 72px 0 72px; 
	text-align: center;
	background-color: #ffffff;
	background-image: url("../img/town-advantages.png");
	background-repeat: no-repeat;
	background-position: 162px 60px;
}

.town-advantages li:nth-child(2) {
	background-position: -240px 60px;
}

.town-advantages li:last-child {
	background-position: -645px 56px;
}

.three-columns {
	display: flex;
}

.three-columns li {
	width: 33.33333333%;
	min-height: 256px;
	box-sizing: border-box;
	padding: 48px 50px 40px 50px;
}

.three-columns h3,
.three-columns span,
.three-columns p {
	text-align: center;
}

.trip-planning h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}

.trip-planning p {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
}

.trip-planning > button {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	background-color: #766357;
	border: none;
}

.trip-planning > button:hover,
.trip-planning > button:focus {
	background-color: #604e43;
}

.trip-planning > button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.search-for-hotels label {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.search-for-hotels input {
	color: #000000; 
	background-color: #f2f2f2;
	border: none;
}

.search-for-hotels input::placeholder {
	opacity: 1;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.search-for-hotels input:hover {
	background-color: #ebebeb;
}

.search-for-hotels input:active,
.search-for-hotels input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

button.calendar {
	background-image: url("../img/calendar.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.search-for-hotels button[type="submit"] {
	color: #ffffff;
	background-color: #81b3d2;
	border: none;
}

.search-for-hotels button[type="submit"]:hover,
.search-for-hotels button[type="submit"]:focus {
	background-color: #669ec0;
}

.search-for-hotels button[type="submit"]:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.map {
	width: 100%;
	height: 594px;
}

.page-footer {
	display: flex;
	box-sizing: border-box;
}

.page-footer div {
	width: 33.333333%;
	min-height: 120px;
	text-align: center;
}

.small-phrase,
.copyright {
	background-color: green;
}

.small-phrase p {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.page-footer b {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.footer-social ul {
	display: flex;
}

.footer-social li {
	margin-right: 6px;
}

.footer-social li:last-child {
	margin-right: 0;
}

.footer-social .social-btn {
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	width: 46px;
	height: 46px;
	background-color: #81b3d2;
}

.footer-social .tw {
	padding-top: 15px;
}

.footer-social .fb {
	padding-top: 13px;
}

.footer-social .yt {
	padding-top: 16px;
}

.footer-social .social-btn:hover,
.footer-social .social-btn:focus {
	background-color: #669ec0;
}

.footer-social .social-btn:active {
	background-color: #5496bd;
}

.social-btn:active svg {
	fill: #88b6d1;
	fill-opacity: 0.3;
}

.copyright p {
	line-height: 26px;
	color: #000000;
}

.HTMLacademy svg {
	width: 113px;
	height: 39px;
	fill: #000000;
}

.HTMLacademy svg:hover,
.HTMLacademy svg:focus {
	fill: #81b3d2;
}

.HTMLacademy svg:active {
	fill: #bdbbbc;
}

.main-navigation .cite-navigation-current {
	color: #766357;
}

.filter {
	background-color: #5a87b0;
	background-image: url("../img/sedona-filtered.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.filters legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
}

.filters label {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
}

.filters .filter-checkboxes {
	list-style: none;
}

.filters button {
	text-transform: uppercase;
	color: #ffffff;
	background-color: transparent;
	border: 2px solid #ffffff;
}

.filters button:hover,
.filters button:focus {
	color: #000000;
	background-color: #ffffff;
}

.searching-results strong {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.serching-results p {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

.sorting,
.arrows,
.hotels {
	list-style: none;
}

.sorting a {
	text-decoration: none;
	font-size: 12px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
}

.sorting a:hover,
.sorting a:focus {
	color: #81b3d2;
}

.sorting a:active {
	border: none;
	color: #000000;
}

.sorting .sorting-current {
	color: #81b3d2;
	border: none;
}

.arrows svg {
	fill: #cacaca;
}

.arrows svg:hover,
.arrows svg:focus {
	fill: #231f20;
}

.arrows svg:active,
.arrows .arrows-current {
	fill: #81b3d2;
}

.hotel-name a {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-decoration: none;
}

.hotel-name a:hover,
.hotel-name a:focus {
	color: #81b3d2;
}

.hotel-name a:active {
	color: rgba(0, 0, 0, 0.3);
}

.details a {
	font-weight: 700;
	color: #ffffff;
	background-color: #81b3d2;
	text-decoration: none;
}

.details a:hover,
.details a:focus {
	background-color: #669ec0;
}

.details a:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.reservation a {
	font-weight: 700;
	color: #ffffff;
	background-color: #766357;
	text-decoration: none;
}

.reservation a:hover,
.reservation a:focus {
	background-color: #604e43;
}

.reservation a:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.hotels .rating {
	color: #666666;
	background-color: #f2f2f2;
}

